@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');


body {
  padding: 0;
  margin: 0;
  background-color: bisque;
  background-size: cover;
  background-position: center;
  font-family: 'Luckiest Guy', cursive;
  overflow-y: hidden;
  overflow-x: hidden;
}

.main-content {
  display: flex;
  width: 100vw;
  height: 80vh;
  margin: 0 auto;
  align-items: center;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  position: relative;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: absolute;
  top: 35%;
  left: 22%;
  text-align: center;
  background-color: rgba(255,255,255,0.4);
  color: rgb(255, 255, 255);
  text-shadow: 1px 4px black;
  padding: 8px;
  border: 1px solid #888;
  width: 51.8%;
  font-size: 20px;
}

.game {
  width: 64%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-window {
  width: 90%;
  /* height: 85%; */
}
 
.title {
  font-size: 60px;
  text-align: center;
  color: #cc0707;
  margin: 70px 0 10px;
  text-shadow: 0 2px 2px black;
}

.canvas-wrapper {
  position: relative;
}

.play-again-btn, .start-btn {
  position: absolute;
  top: 58%;
  z-index: 2;
  font-size: 24px;
  color: rgb(231, 207, 127);
  text-shadow: 0 2px 2px black;
  background: rgb(46, 148, 6);
  padding: 15px 40px;
  left: 41.7%;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.play-again-btn {
  left: 39%;
}

.play-again-btn.hide, .start-btn.hide, .modal.hide {
  display: none;
}

.controls {
  font-size: 42px;
  margin-bottom: 10px !important;
}

.instruction p {
  /* font-size: 26px; */
  margin: 5px;
}

.instruction h2 {
  margin: 10px;
}

.score-container {
  margin-right: 78%;
  height: 60px;
  text-align: left;
  /* min-width: 200px; */
}

#score {
  display: inline-block;
  font-size: 20px;
  color: #cc0707;
  text-shadow: 0 1px 1px black;
  letter-spacing: 0.5mm;
  margin-left: 10px;
}

.pulsate {
  -webkit-animation: pulsate 1.35s ease-out;
  -webkit-animation-iteration-count: infinite; 
}

@-webkit-keyframes pulsate {
  0% { 
    color: #e94e4e;
    transform: scale(0.9) translateX(0);
  }
  50% { 
    color: #cc0707;
      
    transform: scale(1.2) translateX(15px);
  }
  100% { 
    color: #e94e4e;
    transform: scale(0.9) translateX(0);
  }
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content:  */
  width: 18%;
  height: 200px;
  margin: auto;
  margin-bottom: 
  text-align: center;
  font-size: 18px;
}

.name {
  text-align: center !important;
  padding: 6px;
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: left;
  color: #333;
}

.icons {
  display: flex;
  justify-content: center;
  height: 200px;
  margin: 10px;
  margin-left: 20px;
  width: 20%;
  /* min-width: 280px; */
}

.icons li {
  margin: 12px;
}

i {
  transition: 0.7s;
  font-size: 38px;
}

i:hover {
  transform: rotate(360deg) scale(1.5);
}

.fab, .fas {
  font-size: 45px;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
  font-size: 16px;
  text-shadow: 2em;
  margin: 8px;
}

a {
  text-decoration: none;
  color: black;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 18%;
  height: 10vh;
  margin: auto;
  margin-right: 36px;
  text-align: center;
}

.space-bar {
  margin-top: 10px;
}